* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  cursor: default;
  background-color: #f0f0f0;
  color: #1c1c1a;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* optional drop shadow */
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: white;
}

#pianoRollContainer {
  align-self: center;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

button {
  padding: 15px 25px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #f0f0f0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  border-bottom: 3px solid #381815; /* A darker shade for 3D effect */
  position: relative; /* Required for the top movement on hover */
  transition: all 1.1s ease; /* Transition for all properties */
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
}

.piano-roll-svg {
  border: 2px solid #381815;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.piano-roll-svg:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.piano-roll-card {
  background-color: #ebebeb;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-inline: 10px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.description {
  margin-bottom: 5px;
}

.main {
  width: 60vw;
  height: 60vh;
  border: 2px solid #ccc;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
}

.list-view {
  width: 20vw;
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
  max-height: 90vh;
  padding: 10px;
  border-left: 1px solid #ddd;
}

@media (max-width: 900px) {
  #pianoRollContainer {
    width: 95vw;
    grid-template-columns: repeat(1, 1fr);
  }

  .main {
    width: 100vw;
    margin: 10px 0;
    border: none;
  }

  .list-view {
    width: 100vw;
    max-height: 70vh;
    border-left: none;
    border-top: 1px solid #ddd;
  }
}
